@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Avenir", "National 2 Web", -apple-system, BlinkMacSystemFont,
		Helvetica, Arial, sans-serif;
	--serif: "Abby Handwriting", "Tiempos Text Web", Iowan Old Style,
		Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--serif);
	--font-form: var(--serif);
	--color-bg: #b5bbbb;
	--color-fg: var(--color-gray-900);
	--color-primary: var(--color-black);
	--color-link: var(--color-black);
	--color-focus: var(--color-pause);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-gray-300);
	--color-button-fg: var(--color-gray-900);
	--color-button-hover: var(--color-gray-400);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	/* "1" second duration */
	--1s: 0s;
}

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

body,
button {
	letter-spacing: -1.5px;
	word-spacing: 3px;
}

h1 {
	font-size: var(--48px, 48px);
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

button.skip,
button.confirm {
	box-shadow: 5px 5px var(--color-fg);
	border: 2px solid var(--color-fg);
	background: var(--color-gray-200);
	font-family: var(--sans);
	letter-spacing: normal;
	word-spacing: normal;
}

a:hover {
	color: var(--color-gray-700);
}

button.skip {
	/* background: var(--color-gray-200);
	border: 2px solid var(--color-fg);
	font-family: var(--sans);
	letter-spacing: normal;
	word-spacing: normal; */
	font-size: var(--16px);
	border-radius: 0;
	color: var(--color-gray-700);
}
button.skip:hover {
	background: var(--color-gray-300);
}

@media (max-height: 600px) {
	button.skip {
		font-size: var(--12px);
	}
}
